body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

#c {
  position: relative;
}

.toolBar {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2px;
  top: calc(50% - 30px);
  border-radius: 7px;
  left: 10px;
  padding: 10px;
  background-color: rgb(64, 36, 192);
}

.toggleDrawing {
  position: absolute;
  top: 20px;
  left: 10px;
}
