@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}

#c {
  position: relative;
}

.toolBar {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2px;
  top: calc(50% - 30px);
  border-radius: 7px;
  left: 10px;
  padding: 10px;
  background-color: rgb(64, 36, 192);
}

.toggleDrawing {
  position: absolute;
  top: 20px;
  left: 10px;
}

.color-input {
  position: absolute;
  top: 50px;
  left: 10px;
}

.after-container {
  position: relative;
}

.after-container::after {
  content: "brush color picker";
}

.shapes-after-container::after {
  content: "shapes color picker";
}

.after-container::after,
.shapes-after-container::after {
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  bottom: 0px;
  left: 60px;
  background-color: rgb(187, 182, 182);
  color: black;
  padding: 5px;
  border-radius: 4px;
}

.color-input:hover .after-container:after,
.shapes-color-input:hover .shapes-after-container::after {
  opacity: 1;
  transition: 600ms;
  transition-delay: 100ms;
}

.shapes-color-input {
  position: absolute;
  top: 85px;
  left: 10px;
}

.clear-canvas-butt {
  position: absolute;
  right: 10px;
  top: 10px;
}
